# Dependencies
/node_modules

# Build output
/out

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# IDE config files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache